*.sbatch
*.sh
*.out
.vscode/
# Ignore specific directories and files as requested
solved_pdf
origin_pdf
README_local.md

instruction_local/
pre-test/
post-analysis/
backup/
matmech4figshare/
log/
visual/
output_file/
runs/
train_image_model/
utils/

final_output/*
model/*
adapter/*
# Ignore Python cache directory
__pycache__/

