*.sbatch
*.sh
.vscode/
# Ignore specific directories and files as requested
solved_pdf
origin_pdf
README_local.md
instruction/domain_v1.md
instruction/mechanism_v1.md

pre-test/
post-analysis/
backup/
final_output/*
model/*
matmech4figshare/
log/
visual/
output_file/
runs/
train_image_model/*
# Ignore Python cache directory
__pycache__/

